
body{
    background-color: rgb(227, 199, 242);
    font-size: 15pt;
    color:rgb(23, 20, 20);
}
header{
    color: rgb(122, 21, 173);
    text-align: center;
    font-size: 15pt;
}

.questoes{
    
    background-color: rgb(159, 87, 194);
    text-align: center;
    border: 2pt, dashed, black;
    margin-bottom: 10pt;
    width: 60%;
    padding: 5pt;
    position: relative;
    left: 20%;
    border-radius: 5pt;
}
button{
    background-color: rgb(131, 29, 164);
    color: rgb(245, 221, 255);
}
input{
    background-color: rgb(235, 210, 244);
}