body{
    background-color: rgb(191, 56, 228);
    font-size: 15pt;
    color:rgb(23, 20, 20);
}
header{
    text-align: center;
    font-size: 15pt;
}

.questoes{
    
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    border: 2pt, dashed, black;
    margin-bottom: 10pt;
    width: 60%;
    padding: 5pt;
    position: relative;
    left: 20%;
    border-radius: 5pt;
}
button{
    background-color: rgba(250, 250, 250, 0.3);
    color: rgb(245, 221, 255);
}
input{
    background-color: rgb(193, 240, 238);
}